<!-- Use for running rqt reconfigure and RViZ on GCS, while being connected to the drone -->
<?xml version="1.0"?>

<launch>
    <!-- Launch ROS dynamic reconfigure -->
    <node name="rqt_reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

    <!-- Launch pre-configured RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find drone_toolbox_ext_control_template)/rviz/template_controller.rviz"/>
</launch>
